
/*!**/
/*Setting up view properties for the content of the home page*/
/**!*/


/*styling the brand introduction */
.brand-introduction{
    margin:20px;
}

/*styling the brand introduction heading*/
h1{
    text-align: center;
    font-size: x-large;
    color: #008080;
}

/*styling the brand introduction line*/
.brand-introduction p{
    text-align: center;
    color: #008080;
}

body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  text-decoration-color: #008080;
  color: #008080;
}

.responsive-table li{
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 60%;
  }
  .col-2 {
    flex-basis: 25%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 30%;
  }
  .col-5 {
    flex-basis: 30%;
  }
  .col-6 {
    flex-basis: 35%;
  }