/*styling the content block of List page*/
.content {
    display: flex;
    margin: 30px 0 0 100px;
    text-align: justify;
}
.icon{
    width: 15px;
}
/*Styling the images used*/
.book_img{
    width: 200px;
    height: 300px;
    margin: 20px 0 0 0;
}

.nowrap {
  white-space: nowrap ;
}

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 28%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
      margin: 10px 0 0 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
  @media all and (max-width: 982px) {
    .column {
      width: 87%;
      display: block;
      margin-bottom: 20px;
        margin-left: 20px;
    }
      .content{
          margin-left: 0;
      }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }